@import '../styles/variables.scss';

.select-dropdown_wrapper {
  display: block;
  position: relative;
  height: 56px;

  &::after,
  &::before {
    display: table;
    content: "";
    clear: both;
  }
}

.select-dd_label {
  transition-duration: .225s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #999;
  font-size: .75em;
  //top: -4px;
  margin-bottom: 46px;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: visible;
  pointer-events: none;
  position: absolute;
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
  transition: margin-bottom .225s ease-in-out, font-size .225s ease-in-out, color .225s ease-in-out, opacity .225s ease-in-out;

  &--unselected-label {
    font-size: 1em;
    margin-bottom: 24px;
    color: $defaultColor-dark;
  }
}

.select-dd_text {
  position: relative;
  font-size: 1em;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  margin: 0;
  line-height: 0;
  padding: 0;
  cursor: pointer;
  height: 0;

  & > div {
    border: none;
    border-bottom: 1px solid #999;
    display: block;
    font-size: 1em;
    margin: 4px 0 20px;
    //padding: 20px 0 12px;
    padding: 10px 0 5px;
    width: 100%;
    background: none;
    text-align: left;
    color: inherit;
    line-height: normal;

    .select-dd_text_value {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: calc(100% - 32px);
      position: relative;
    }
  }

  &--empty {
    div {
      color: #999;
      font-weight: 100;
    }

    & + label {
      opacity: 0;
    }
  }
}

.select-dd_caret {
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  position: relative;
  top: -26px;
  color: #999;
  cursor: pointer;
  left: calc(100% - 32px);
}

.select-dd_list {
  //position: absolute;
  position: fixed;
  transition: .25s ease;
  top: 0;
  left: 0;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: white;
  box-shadow: 0 3px 10px #adadad;
  z-index: 10;
  min-width: 100px;
  border-radius: 6px;
  max-height: 60vh;
  overflow: hidden;
  overflow-y: auto;

  animation: open_list .225s ease-out;

  .select-dd_list_scrollable {
    max-height: 60vh;
    overflow: hidden;
    overflow-y: auto;
  }

  &--wrl {
    .select-dd_list_scrollable {
      max-height: calc(60vh - 35px);
      overflow: hidden;
      overflow-y: auto;
    }
  }

  &--wf {
    .select-dd_list_scrollable {
      max-height: calc(60vh - 33px);
      overflow: hidden;
      overflow-y: auto;
    }
  }

  &--wf {
    &.select-dd_list--wrl {
      .select-dd_list_scrollable {
        max-height: calc(60vh - 68px);
        overflow: hidden;
        overflow-y: auto;
      }
    }
  }

  .select-dd_list-item {
    padding: 0 8px;
    line-height: 35px;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &::selection,
    &:hover {
      background-color: #eaeaea;
    }

    &--active {
      background: #eaeaea;
    }

    &--reset {
      opacity: .3;
    }

    &--filterable {
      position: relative;

      &:hover {
        background-color: transparent;
      }

      .input-group {
        margin: 0;

        input {
          max-width: calc(100% - 40px);
        }

        label {
          top: 4px;
        }
      }

      i {
        position: absolute;
        top: $spacing / 2;
        right: $spacing / 2;
        color: $accent;
      }
    }
  }
}

@keyframes open_list {
  0% {
    margin-top: -10px;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}

