@import '../../styles/variables.scss';

.notification-bar {
  width: 100vw;
  z-index: 15;
  pointer-events: none;
  max-width: 100vw;
  position: fixed;
  left: 0;

  &--tc,
  &--tr,
  &--tl {
    top: 0;
  }

  &--bc,
  &--br,
  &--bl {
    bottom: 0;
  }
}
