.react-calendar, .react-calendar *, .react-calendar *:before, .react-calendar *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.react-calendar__navigation {
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .75em;
}

.react-calendar__month-view__weekdays__weekday {
  padding: .5em;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: .75em .5em;
  background: none;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #969696;
}

.react-calendar__month-view__days__day--weekend {
  color: red;
}

.react-calendar__tile--active {
  background: #006edc;
  color: white;
}

button.react-calendar__tile:enabled:hover, button.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation button:enabled:hover, .react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
