@import '../styles/variables.scss';

.icon {
  color: $black-light;
  font-size: inherit;

  &--danger {
    color: $danger;
  }

  &--warning {
    color: $warning;
  }

  &--success {
    color: $success;
  }

  &--primary {
    color: $primary;
  }

  &--accent {
    color: $accent;
  }
}
