@import '../styles/variables.scss';

.dialogue {
  position: fixed;
  z-index: -1;
  pointer-events: none;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity .225s ease-in-out, z-index .225s ease-out;

  display: flex;
  justify-content: center;
  align-items: center;

  .dialogue_back-drop {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .1);
  }

  .dialogue_container {
    //position: absolute;
    //left: 50%;
    //top: 50%;
    //transform: translate(-50%, -50%) scale(.95);
    //background: cyan;
    margin-top: 50px;
    height: auto;
    width: auto;
    transition: margin-top .225s $cubic-bezier, transform .225s $cubic-bezier;
    position: relative;
  }

  &.dialogue--open {
    z-index: 15;
    pointer-events: auto;
    opacity: 1;

    .dialogue_container {
      margin-top: 0;
      //transform: translate(-50%, -50%) scale(1);
    }
  }
}

.gd {
  display: block;
  box-shadow: $dialogue-box-shadow;
  transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
  position: relative;
  padding: 24px;
  //border-radius: 2px;
  border-radius: 6px;
  max-height: 90vh;
  background: #fff;
  color: rgba(0,0,0,.87);

  &--without-offset {
    padding: 0;
  }

  &--wf {
    padding-bottom: 0;
  }

  &--with-hero {
    padding: 0;

    h1 {
      position: relative;
      top: -38px;
      padding-left: 24px;
    }

    .gd_content {
      padding: 0 24px 24px 24px;
    }
  }

  h1 {
    color: $accent;
    font-size: 1.3em;
    font-weight: 500;
    margin: 0;
    display: block;
  }

  .gd_hero {
    height: 265px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    position: relative;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
  }

  .gd_content {
    max-height: calc(90vh - 116px);
    overflow: hidden;
    overflow-y: auto;

    &--wf {
      max-height: calc(90vh - 172px);
    }
  }

  .gd_footer {
    height: 56px;
    margin-left: -24px;
    width: calc(100% + 48px);
    line-height: 56px;
    display: flex;
    align-items: center;
    padding-left: 16px;
  }
}
